services:
  piston:
    image: ghcr.io/engineer-man/piston:latest
    container_name: piston_engine
    restart: always
    privileged: true
    environment:
      - PISTON_DISABLE_CGROUPS=true
    volumes:
      - ./piston-core:/piston
      - piston_packages:/piston/packages
      - ./init_piston.sh:/piston/init_piston.sh
    command: ["sh", "/piston/init_piston.sh"]

  code-execution-service:
    build: ./code-execution-service
    container_name: code-execution-service
    ports:
      - "8000:8000"
    depends_on:
      - piston
    environment:
      - PISTON_URL=http://piston:2000

volumes:
  piston_packages:
